<div class="ModalHeader">
    <a href="#" onclick="$.fancybox.close(); return false;" class="Close">×</a>
    <h2>Changer le mot de passe de {{ app.user.nom }} {{ app.user.prenom }}</h2>
</div>

<form class="ShowLoading fos_user_change_password" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST">
<div class="ModalContent Medium">
        <table class="FormLayout" cellspacing="0" cellpadding="0" border="0">
            <tbody>
            <tr>
                <td class="error">
                    {{  form_errors(form.current_password) }}
                </td>
                <td class="Label">
                    {{  form_label(form.current_password) }}
                </td>
                <td class="Field">
                    {{ form_widget(form.current_password) }}
                </td>
            </tr>

            <tr>
                <td class="error">
                    {{  form_errors(form.plainPassword.first) }}
                </td>
                <td class="Label">
                    {{  form_label(form.plainPassword.first) }}
                </td>
                <td class="Field">
                    {{ form_widget(form.plainPassword.first) }}
                </td>
            </tr>

            <tr>
                <td class="error">
                    {{  form_errors(form.plainPassword.second) }}
                </td>
                <td class="Label">
                    {{  form_label(form.plainPassword.second) }}
                </td>
                <td class="Field">
                    {{ form_widget(form.plainPassword.second) }}
                </td>
            </tr>
            </tbody>
            {{  form_rest(form) }}
        </table>
</div>
<div class="ModalFooter Center">
    <a class="Button Cancel" href="#" onclick="$.fancybox.close(); return false;">Annuler</a>
    <input class="Button" type="submit" value="Sauvegarder"/>
    <div class="Clear"></div>
</div>
</form>
<script type="text/javascript">
    $('#Loading').hide();
    nexus.formatContentCallable();
</script>
