{% set titre = "Liste des liens" %}
{% extends 'SffLiensBundle::layout.html.twig' %}

{% block actions %}
    <a class="ShowLoading" href="{{ path('admin_liens_categories_nouveau') }}">Ajouter une catégorie</a>
    <a class="ShowLoading" href="{{ path('admin_liens_nouveau') }}">Ajouter un lien</a>
{% endblock %}

{%  block corps %}
    <div id="user_list">
        <div id="datacontainer">
            <table id="dataTable" class="Datagrid Fixed">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Url</th>
                    <th>Visites</th>
                    <th>Valide</th>
                    <th>Catégorie</th>
                    <th>Créateur</th>
                </tr>
                </thead>
                <tbody>
                {% for lien in liens %}
                    <tr>
                        <td><a class="ShowLoading" href="{{ path('admin_liens_modifier', { 'id': lien.id }) }}" title="Editer">{{ lien.titre }}</a></td>
                        <td><a href="{{ lien.url }}">{{ lien.url }}</a></td>
                        <td>{{ lien.visites }}</td>
                        <td {% if lien.valide == false %}
                            data-order="30"><span class="fa fa-check-circle" style="color: red;"></span>
                        {% elseif lien.corrompu == true %}
                            data-order="20"><span class="fa fa-check-circle" style="color: orange;"></span>
                        {%  else %}
                                data-order="10"><span class="fa fa-check-circle" style="color: green;"></span>
                        {% endif %}</td>
                        <td>{{ lien.categorie }}</td>
                        <td>{{ lien.user.username }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}