<div class="ModalHeader">
    <a class="Close" onclick="$.fancybox.close(); return false;" href="#">×</a>

    <h2>Changer le mot de passe de {{ user.nom }} {{ user.prenom }} ?</h2>
</div>
<form method="post" onSubmit="jQuery.ajax({
        type:'post',
        dataType:'html',
        cache: false,
        data:jQuery(this).serialize(),
        success:function(data, textStatus){
            jQuery('#modal_content').html(data);
        },
        url:'{{ path('admin_user_changepassword', { 'id': user.id}) }}'});
        return false;">
<div class="ModalContent Medium" style="max-height: 752px;">
    <table class="FormLayout">
            <tr>
                <td class="Label">{{ form_label(form.plainPassword.first) }}</td>
                <td class="Field">{{ form_widget(form.plainPassword.first) }}
                    <div class="Error">{{ form_errors(form.plainPassword.first) }}</div>
                </td>
            </tr>
            <tr>
                <td class="Label">{{ form_label(form.plainPassword.second) }}</td>
                <td class="Field">{{ form_widget(form.plainPassword.second) }}
                    <div class="Error">{{ form_errors(form.plainPassword.second) }}</div>
                </td>
            </tr>
    </table>
    {{ form_rest(form) }}
</div>
    <div class="ModalFooter Center">
        <a class="Button ShowLoading Cancel" href="#" onclick="$.fancybox.close(); return false;">Annuler</a>
        <button class="Button" type="submit">Sauvegarder</button>
        <div class="Clear"></div>
    </div>
</form>
<script type="text/javascript">
    $('#Loading').hide();
    nexus.formatContentCallable();
</script>
</form>