{% set titre = 'Liens Utiles' %}
{% extends '::layout.html.twig' %}

{% block corps %}
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('liens_proposer') }}">Proposer un nouveau lien</a>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading">LIENS UTILES</div>
        <div class="panel-body">
            <ul id="liens">
                {% for categorie in categories %}
                    <li class="categorieLiens Parent">
                        <div><span class="texteCategorie">{{ categorie.titre }}<span class="fa fa-caret-down fa-rotate-270"></span></span></div>
                        <ul class="toggle">
                            {% for catEnfant in categorie.children %}
                                <li class="categorieLiens Enfant">
                                    <div><span class="texteCategorie">{{ catEnfant.titre }}<span
                                                    class="fa fa-caret-down fa-rotate-270"></span></span></div>
                                    <ul class="listeLiens">
                                        {% for lien in catEnfant.liens %}
                                            <li>{% if is_granted('ROLE_USER') %}
                                                    <a class="corrompu"
                                                       href="{{ path('liens_annonce_corrompu', { 'slug': lien.slug}) }}"
                                                       title="Annoncer un lien corrompu"><span
                                                                class="fa fa-chain-broken"></span></a>
                                                {% endif %}
                                                <a class="liens"
                                                   href="{{ path('liens_suivre', { 'slug': lien.slug }) }}">{{ lien.titre }}
                                                    <em>{{ lien.description }}</em></a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                            <ul class="listeLiens">
                                {% for lien in categorie.liens %}
                                    <li>{% if is_granted('ROLE_USER') %}
                                            <a class="corrompu"
                                               href="{{ path('liens_annonce_corrompu', { 'slug': lien.slug}) }}"
                                               title="Annoncer un lien corrompu"><span
                                                        class="fa fa-chain-broken"></span></a>
                                        {% endif %}
                                        <a class="liens"
                                           href="{{ path('liens_suivre', { 'slug': lien.slug }) }}">{{ lien.titre }}
                                            <em>{{ lien.description }}</em></a></li>
                                {% endfor %}
                            </ul>
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $("ul.toggle").hide();
            $("ul.listeLiens").hide();

            $("li.Parent > div").click(function() {
                if ($(this).next("ul.toggle:visible").length != 0) {
                    $(this).next("ul.toggle").slideUp("normal", function () { $(this).parent().find('span.fa:first').addClass("fa-rotate-270") } );
                }
                else {
                    $("ul.toggle").slideUp("normal", function () { $(this).parent().find('span.fa:first').addClass("fa-rotate-270") } );
                    $(this).next("ul.toggle").slideDown("normal", function () { $(this).parent().find('span.fa:first').removeClass("fa-rotate-270") } );
                }
                return false;
            });

            $("li.Enfant > div").click(function() {
                if ($(this).next("ul.listeLiens:visible").length != 0) {
                    $(this).next("ul.listeLiens").slideUp("normal", function () { $(this).parent().find('span.fa:first').addClass("fa-rotate-270") } );
                }
                else {
                    $("ul.listeLiens").slideUp("normal", function () { $(this).parent().find('span.fa:first').addClass("fa-rotate-270") } );
                    $(this).next("ul.listeLiens").slideDown("normal", function () { $(this).parent().find('span.fa:first').removeClass("fa-rotate-270") } );
                }
                return false;
            });
        });
    </script>
{% endblock %}